<mat-card class="mat-elevation-z4">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h4 *ngIf="emailNotFound">Email not found</h4>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput formControlName="username">
            <mat-hint *ngIf="form.controls.username.errors && submitted && form.controls.username.errors.required">
                Username is required
            </mat-hint>
            <mat-hint *ngIf="form.controls.username.errors && form.controls.username.errors.email">
                Please provide valid email address
            </mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login ></button>
    </form>
</mat-card>