<div class="example-button-row">
    <button mat-button class="filter-btn" [class.active-filter-btn]="filter === 'All'" (click)="filter = 'All'"
        [disabled]="filter === 'All' ? true: false">All</button>
    <button mat-button [class.active-filter-btn]="filter === 'Completed'" class="filter-btn"
        (click)="filter = 'Completed'" [disabled]="filter === 'Completed' ? true: false">Completed</button>
    <button mat-button [class.active-filter-btn]="filter === 'Completed Today'" class="filter-btn"
        (click)="filter = 'Completed Today'" [disabled]="filter === 'Completed Today' ? true: false">Completed
        Today</button>
    <button mat-button [class.active-filter-btn]="filter === 'Incomplete'" class="filter-btn"
        (click)="filter = 'Incomplete'" [disabled]="filter === 'Incomplete' ? true: false">Incomplete</button>
</div>
<mat-divider></mat-divider>
<ul *ngIf="(todos | async).length > 0">
    <li class="todo-item" [class.completed]="todo.completed" [class.incompleted]="!todo.completed"
        *ngFor="let todo of todos | async | filterStatus: filter">
        <mat-checkbox color="primary" [checked]="todo.completed" (change)="toggleTodoCheckBox(todo)">{{ todo.title }}
        </mat-checkbox>
    </li>
</ul>