<div class="main-button">
    <mat-button-toggle-group (change)="updateFilterState($event)" [value]="(filter$ | async)" name="filter"
        aria-label="filter todos" class="toggle-button-grp">
        <mat-button-toggle value="All">All</mat-button-toggle>
        <mat-button-toggle value="Completed">Completed</mat-button-toggle>
        <mat-button-toggle value="Completed Today">Completed Today</mat-button-toggle>
        <mat-button-toggle value="Incomplete">Incomplete</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<mat-divider></mat-divider>
<ul *ngIf="(todos | async).length > 0">
    <li class="todo-item" [class.completed]="todo.completed" [class.incompleted]="!todo.completed"
        *ngFor="let todo of todos | async | filterStatus: (filter$ | async)">
        <mat-checkbox color="primary" [checked]="todo.completed" (change)="toggleTodoCheckBox(todo)">{{ todo.title }}
        </mat-checkbox>
    </li>
</ul>