mat-toolbar {
    display: flex;
    justify-content: space-between;

    .posts-btn {
        margin-right: 1rem;
    }
    .company_details {
        font-size: 13px;
        margin-right: 5px;
    }
    .redirect {
        color: #fff;
    }
}

.main-area {
    margin: 4rem;

    mat-card {
        padding-top: 5px;
    }
}
